In [ ]:
%%script false --no-raise-error
import json
from google.colab import userdata
from google.oauth2 import service_account
from google.cloud.bigquery import magics

credentials_json = userdata.get('BIGQUERY_CREDENTIALS')
credentials = service_account.Credentials.from_service_account_info(json.loads(credentials_json))
magics.context.credentials = credentials

Couldn't find program: 'false'

In [ ]:
from google.cloud import bigquery
from google.cloud.bigquery import magics
%load_ext bigquery_magics

data_set = "testing_set2"
project_name = "emerald-entity-468916-f9"

job_config = bigquery.QueryJobConfig(default_dataset = f"{project_name}.{data_set}")
client = bigquery.Client(project = project_name, default_query_job_config = job_config, credentials = globals().get('credentials', None))
magics.context.default_query_job_config = job_config
magics.context.project = project_name

In [4]:
%%bigquery

DROP TABLE IF EXISTS tmp_books_sample;
DROP TABLE IF EXISTS tmp_correction_chunks;
DROP TABLE IF EXISTS tmp_overlapped_chunks;
DROP TABLE IF EXISTS tmp_characters_id_data;
DROP TABLE IF EXISTS tmp_chid_data_with_identifier;
DROP TABLE IF EXISTS tmp_characters_id_embeddings;
DROP TABLE IF EXISTS tmp_chid_distance;
DROP TABLE IF EXISTS tmp_characters_duplicate_candidates;
DROP TABLE IF EXISTS tmp_the_same_characters;
DROP TABLE IF EXISTS tmp_different_characters;
DROP TABLE IF EXISTS tmp_the_same_characters_split;
DROP TABLE IF EXISTS tmp_different_characters_split;
DROP TABLE IF EXISTS tmp_chid_distance_dpl;
DROP TABLE IF EXISTS tmp_characters_duplicates;
DROP TABLE IF EXISTS tmp_merged_duplicates;
DROP TABLE IF EXISTS tmp_merged_duplicates_split;
DROP TABLE IF EXISTS tmp_characters_id_changed_embeddings;
DROP TABLE IF EXISTS tmp_split_full_data;
DROP TABLE IF EXISTS tmp_grouped_full_data;
DROP TABLE IF EXISTS tmp_bidirectional_edges;
DROP TABLE IF EXISTS tmp_characters_id_distance;
DROP TABLE IF EXISTS tmp_grouped_duplicates_graph;
DROP TABLE IF EXISTS tmp_grouped_duplicates_graph_enriched;
DROP TABLE IF EXISTS tmp_grouped_ids_split;
DROP TABLE IF EXISTS tmp_cluster_names;
DROP TABLE IF EXISTS tmp_clustered_traits;
DROP TABLE IF EXISTS tmp_clusters_analysis;
DROP TABLE IF EXISTS tmp_combined_traits;
DROP TABLE IF EXISTS tmp_combined_traits_clustered;
DROP TABLE IF EXISTS tmp_combined_traits_embeddings;
DROP TABLE IF EXISTS tmp_copied_traits;
DROP TABLE IF EXISTS tmp_split_traits;
DROP TABLE IF EXISTS tmp_split_traits_final;
DROP TABLE IF EXISTS tmp_trait_clusters;
DROP TABLE IF EXISTS tmp_traits_embeddings;
DROP TABLE IF EXISTS tmp_traits_embeddings_modeling_sample;

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [8]:
%%bigquery

--DELETE FROM identifiers WHERE 1 = 1;
--DELETE FROM chunks WHERE 1 = 1;
DELETE FROM characters WHERE 1 = 1;
--DELETE FROM character_cluster_details WHERE 1 = 1;
--DELETE FROM clusters WHERE 1 = 1;
-- DELETE FROM books;
-- DELETE FROM prompts;

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%bigquery

-- DROP TABLE IF EXISTS identifiers;
-- DROP TABLE IF EXISTS chunks;
-- DROP TABLE IF EXISTS books;
-- DROP TABLE IF EXISTS character_cluster_details;
-- DROP TABLE IF EXISTS characters;
-- DROP TABLE IF EXISTS clusters;
-- DROP TABLE IF EXISTS prompts;

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []