In [205]:
from google.cloud import bigquery
from google.cloud.bigquery import magics
%load_ext bigquery_magics

data_set = "testing_set"
project_name = "emerald-entity-468916-f9"
library_path = "gdelt-bq.internetarchivebooks"

job_config = bigquery.QueryJobConfig(default_dataset = f"{project_name}.{data_set}")
client = bigquery.Client(project = project_name, default_query_job_config = job_config)
magics.context.default_query_job_config = job_config

number_of_books = 3
start_year = 1800 # min 1800
end_year = 1922 # max 1922
max_book_length = 300000
min_book_length = 100000

The bigquery_magics extension is already loaded. To reload it, use:
  %reload_ext bigquery_magics

In [206]:
%%bigquery
CREATE OR REPLACE TABLE tmp_books_sample(GKGRECORDID STRING, DATE INTEGER, BookMeta_Title STRING, V2Themes STRING, V2Persons STRING, BookMeta_FullText STRING, rank INT64);

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [207]:
import random

years = random.sample(range(start_year, end_year), number_of_books)

add_to_samples = """INSERT INTO tmp_books_sample(GKGRECORDID, DATE, BookMeta_Title, V2Themes, V2Persons, BookMeta_FullText)
SELECT * FROM (
SELECT GKGRECORDID, DATE, BookMeta_Title, V2Themes, V2Persons, BookMeta_FullText FROM {library_path}.{year} sb
TABLESAMPLE SYSTEM (2 PERCENT) WHERE length(BookMeta_FullText) <= {max_book_length} AND length(BookMeta_FullText) >= {min_book_length} LIMIT 10) s
WHERE NOT EXISTS (SELECT 1 FROM tmp_books_sample s1 WHERE s.GKGRECORDID = s1.GKGRECORDID)"""

for year in years:
    fill_table_sql = add_to_samples.format(year = year, library_path = library_path, max_book_length = max_book_length, min_book_length = min_book_length)
    client.query_and_wait(fill_table_sql)

In [208]:
%%bigquery --pyformat

UPDATE tmp_books_sample SET rank = 
    CAST(AI.GENERATE(FORMAT(p.prompt, TO_JSON_STRING(STRUCT(DATE as relase_date, BookMeta_Title as title, V2Themes as themes, LPAD(BookMeta_FullText, 5000) as beginning))),
    connection_id => 'us.ai_connection', endpoint => 'gemini-2.5-flash-lite').result AS INT64)
FROM prompts p WHERE p.code = 'rank_books';

INSERT INTO books (book_id, date, title, original_txt)
select GKGRECORDID, DATE, BookMeta_Title, BookMeta_FullText from tmp_books_sample order by rank desc, rand() limit {number_of_books};

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []